.button{
    margin: 3px;
    padding: 7px;
    border-radius: 5px;
    border:none;
    font-size: medium;
    cursor: pointer;
    color: #ffffff;
    opacity: 0.8;
}
.button:hover{
    opacity: 1.0;
    transform: scale(1.02);
}
.button-primary{
    background-color: #0077ff;
}
.button-warning{
    color: #F9E076;
}